
/* styles.css */

 *,
 *::before,
 *::after
 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    overflow: hidden;
}

nav {
    background-color: #0077cc;
    padding: 10px;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    position: relative;
 padding: 10px;
 border-radius: 10px;
 


}

nav a {
    text-decoration: none;
    color: #fff;
 font-size: 2em;
 font-weight: bold;
 letter-spacing: 5px;
 text-shadow: 5px 5px 2px #000;
cursor: pointer;
}

nav li:hover{
position: relative;
top: -10px;
transition: all 5s ease-in-out;

}
nav li:hover a{
    letter-spacing: 5px;
    text-shadow:0px 25px 12px #000;

}

#promotion {
    text-align: center;
    padding: 20px;
}

/* Add more styles for other sections as needed */
